$color-font:#535c68;
$color-light-grey:#b2bec3;
$m-bp:60rem;

.contact{
    grid-row: 7 / 8;
    grid-column: center-start / center-end;
    margin-top: 10rem;
    margin-bottom: 10rem;
    line-height: 2;
}
.contactCon{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 20rem;
    @media only screen and (max-width:$m-bp) {
        grid-gap: 10rem;

    }
}
.infoCon{
    &__socials{
        display: flex;
        gap:2rem;
        img{
            margin-right: 2rem;
        }
    }
}
.contactForm{
    display: flex;
    flex-direction: column;
    &__field{
        width: 90%;
        padding: 2rem;
        border-radius: 5px;
        border: 1px solid $color-light-grey;
        transition: all .2s;
        font-size: 1.5rem;
        font-family: inherit;
        &::placeholder{
            color: $color-light-grey;
        }
        &:focus{
            outline: none;
            border:1px solid $color-font;
        }
    }
    button{
        width: 10rem;
        justify-self: end;
        align-self: flex-end;
    }
}
