$color-font: #535c68;
$m-bp: 60rem;
$color-tertiary: #1c173a;
$color-primary: #483b97;

.projects {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    margin-top: 10rem;
    text-align: justify;


}

.project {
    background: #FFEEEE;
    border: 1px solid #f0e5d2;
    border-radius: 1.2rem;
    overflow: hidden;
    gap: 5rem;
    @media only screen and (max-width:$m-bp) {
        flex-direction: column;
    }
    &__description {
        flex: 5%;
        padding: 2rem;

        &__header {
            &__name {
                font-size: 2.8rem;
                font-weight: 500;
            }

            &__tags {
                font-size: 1.6rem;
                font-weight: 400;
                color: $color-primary;
            }
        }

        &__text {
            font-size: 1.6rem;
            font-weight: 400;
            color: $color-tertiary;
            line-height: 2.5rem;
            letter-spacing: .1rem;
        }

        &__links {
            margin-top: 10rem;
            margin-bottom: 1.1rem;
        }
    }

    &__image {
        &__cont {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 1.2rem;
        }
        padding-right: 0rem;
        flex: auto;
        @media only screen and (max-width:$m-bp) {
            display: none;
        }
    }
}